# Ignore python environment and libraries
*venv/
*/__pycache_/
*/db*
*.pyc

# Ignore secrets file with environmental credentials
api/secrets.py

# Ignore JS libraries and secrets
yarn.lock
*/node_modules/
node_modules/
.jsbeautifyrc
*/src/assets/fonts/
*/src/secrets.js
*/.next/

## EMACS ONLY ##
# Ignore temp and autosave files
*.#*
*.*~

# Ignore dev environment variables
.dir-locals.el
.tool-versions
.gitignore

# Ignore projectile
.projectile
